html, body {
	height: 100%;
}

body {	
	background: #ECE9E6;
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF);
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF);
	position: relative;
	color: #333333;
	font-family: sans-serif;
}

::selection {
	background-color: #F0F1F5;
	color: #D91E18;
}

::-moz-selection { 
	background-color: #F0F1F5;
	color: #D91E18;
}

#wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display:    -moz-box;
	display:        flex;

	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

#row-1, #row-2, #row-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display:    -moz-box;
	display:        flex;

	flex-direction: row;
	flex-grow: 1;

	min-width: 100%;
	width: auto !important;
	width: 100%;
}

#row-1 {
	margin-top: -20px;
}

#content {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 20px;
}

#row-2 {
	flex-grow: 2;
	justify-content: center;
	align-content: flex-end;
}

hr {
	width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#row-1 #logo {
	justify-content: flex-start;
	padding-left: 10px;
	font-size: 30px;
	font-family: 'Rock Salt', cursive;
	font-weight: 300;
}

#logo {
	padding-top: 20px;
}

#visual-content {
	position: relative;
}


#iphone-image {
	position: relative;
	z-index: 1;
	bottom: 0;
	height: 568px;
	width: 300px;
}

video {
	position: absolute;
	top: 75px;
	left: 23px;
	z-index: 999;
	width: 245px;
	height: 420px;
	border-radius: 7px;
}

#text-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display:    -moz-box;
	display:        flex;
	flex-direction: column;
	justify-content: center;
}

#app-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display:    -moz-box;
	display:        flex;
	margin-right: 20px;
}

#app-store-link {

	margin-right: 20px;
}

#one-liner {
	text-align: center;
	font-size: small;
	margin-right: 97px;
	font-weight: 500;
}

#tagline {
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	margin-top: -10px;
	margin-left: 5px;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #333333;
}

a:hover { 
	text-decoration: none;
	color: #D91E18;
}

#row-3 {
	flex-direction: column;
	justify-content: center;
}

#row-3 #nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display:    -moz-box;
	display:        flex;
	justify-content: space-around;
	width: 100%;

	font-weight: 200;
	align-items: center;
	text-align: center;
	font-size: 13px;
}

#privacy {

    padding-left: 150px;
    padding-right: 10px;

}

#copyright {
	align-items: flex-end;
	-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
}

#copyright p {
	text-align: end;
	margin-right: 10px;
	font-size: 10px;
}
